*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
    font-family: 'Poppins' , sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sections{
    width: 100%;
    height: 80vh;
}
.tabs{
    width: 100%;
    height: 20vh;
    background-color: red;
    display: flex;
}
img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.img2{
    display: none;
}
.img3{
    display: none;
}
button{
    display: inline-block;
    flex: 1;
    background-color:aquamarine;
    color:white;
    font-weight: 700;
    font-size: 30px;
    font-family: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 1.1;
}
button.active{
    background-color: white;
    color: cadetblue;
}
@media screen and (max-width:480px){
    .tabs{
        flex-direction: column;
    }
    button{
        padding:18px 10px;
    }
}